.input-hidden {
    background-color: transparent; /* 배경색 투명 */
    border: none; /* 테두리 없음 */
    outline: none; /* 포커스 시 아웃라인 없음 */
    color: inherit; /* 텍스트 색상 상속 */
    font-size: 40px; /* 폰트 크기 상속 */
    text-align:center;
    height:100px;
    width:1000px;
    font-weight:bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
#preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#preview img {
    max-width: 150px; /* 미리보기 이미지 최대 너비 */
    margin: 10px; /* 이미지 간격 */
    border: 1px solid #ccc; /* 이미지 테두리 */
}
.upload-container{
    background-color: white; /* 배경색 흰색 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 20px; /* 안쪽 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    width:400px;
    height: 400px;
    margin:auto;
}
#fileInput{
   margin-bottom:10px;
}
.fileInput-text{
    margin-top:10px;
    color:#888;
}
#time{
    margin-left:16px;
}
#content {
    height: 100px;
    width: 1500px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    overflow: auto; /* 스크롤 가능 */
    word-wrap: break-word; /* 긴 단어 줄바꿈 */
    white-space: normal; /* 공백과 줄바꿈을 허용 */
    display: block; /* 블록 요소로 설정 */
}
.textarea-container {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}
.medicine{
    display: flex;
    flex-direction: column;
    margin-left: 210px;
    margin-right:210px;
}
.medicine > div{
    margin-bottom: 10px;
    margin-top: 10px;
}
#information{
    height: 100px;
    width: 1500px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    overflow: auto; /* 스크롤 가능 */
    word-wrap: break-word; /* 긴 단어 줄바꿈 */
    white-space: normal; /* 공백과 줄바꿈을 허용 */
    display: block; /* 블록 요소로 설정 */
}
#SubmitButton{
padding-left: 50px;
    padding-right: 50px;

}



