<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.4/tailwind.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="p-5" style="background-color: #4D3E3E;">
    <div class="container mx-auto flex justify-between items-baseline">
        <a href="../home/main" class="text-white text-2xl">TailsRoute</a>
        <div>
            <ul class="flex space-x-4">
                <li><a href="/" class="text-white cursor-pointer">병원</a></li>
                <li><a href="/" class="text-white cursor-pointer">커뮤니티</a></li>
                <li><a href="/" class="text-white cursor-pointer">일상기록</a></li>
                <li><a href="/" class="text-white cursor-pointer">쇼핑</a></li>
                <li><a href="/" class="text-white cursor-pointer">건강관리</a></li>
                <li><a href="/" class="text-white cursor-pointer">실종신고</a></li>
            </ul>
        </div>
        <div class="text-white text-lg">프로필</div>
    </div>
</div>
</body>
</html>
