<th:block th:replace="usr/common/head"/>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<!-- 테일윈드 -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<!--css파일-->
<link rel="stylesheet" href="/resource/css/Diary.css">
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<!-- FullCalendar CSS적용 -->
<link href="https://unpkg.com/@fullcalendar/core@5.10.1/main.css" rel="stylesheet" />
<link href="https://unpkg.com/@fullcalendar/daygrid@5.10.1/main.css" rel="stylesheet" />
<!-- FullCalendar JS적용-->
<script src="https://unpkg.com/@fullcalendar/core@5.10.1/main.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@5.10.1/main.js"></script>
<head>
    <meta charset="UTF-8">
    <title>PetdiaryWrite</title>
</head>

<body class="mb-56" style="background-color: #fff3CD">

<form action="/usr/diary/write" method="post" enctype="multipart/form-data">
    <!--제목입력창-->

    <div class="flex items-center justify-center ">
        <input type="text" placeholder="제목을 입력해주세요." class="input-hidden">
    </div>
    <!--//파일업로드창-->

    <div class="upload-container text-center mb-6">
        <div id="preview" class="w-full h-64 tw-bg-white flex justify-center items-center ">
            <div class="text-center">
                <button id="fileBtn" class=" text-white px-4 py-2 rounded-lg mb-2" style="background-color:#696969">이미지
                    업로드
                </button>
                <p class="fileInput-text text-gray-500 text-xl font-bold">또는 파일놓기.</p>
                <input type="file" id="fileInput" accept="image/*" class="hidden"/>
            </div>
        </div>
    </div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="textarea-container ">
    <textarea id="content" placeholder="내용을 입력하세요"
              class="w-full p-4 border border-gray-300 rounded-lg mb-6 text-center"
              rows="10" required></textarea>
        </div>

        <section class="medicine">
            <h2 class="mb-3 text-lg font-bold">복용약 정보</h2>
            <hr>
            <div>
                <label for="start date">복용 시작일</label>
                <input type="date" id="start date">
            </div>
            <div>
                <label for="end date">복용 종료일</label>
                <input type="date" id="end date">
            </div>
            <div>
                <label for="TakingTime"> 복용 시간 </label>
                <input type="time" id="TakingTime">
            </div>
            <div>
                <label for="information">복용약 정보 및 특이사항 </label>
                <textarea id="information" placeholder="복용약 정보 및 특이사항"
                          class="w-full p-4 border border-gray-300 rounded-lg mb-6 text-center"
                          rows="10" required></textarea>
            </div>
        </section>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button id="SubmitButton" type="submit" class="text-white px-4 py-2 rounded-lg mb-2 " style="background-color:#696969">작성</button>
        </div>
    </form>
</body>
</html>